/* Write some CSS below */

body {
  margin:  0;
}

a {
  text-decoration:  none;
}

.banner {
  background-image: url("images/background.jpg");
  color:  white;
  text-align: center;
  padding: 150px 0;
}

h1 {
  font-size: 48px;
}

.banner h2 {
  font-weight: normal;
  margin-bottom: 50px;
  color:  rgba(230, 230, 230, 0.8);
}

.banner a {
  color: white;
  background-color: rgba(0, 0, 255, 0.8);
  padding: 10px 25px;
  border-radius: 8px;
  font-size:  24px;

}
.banner a:hover {
  background-color: rgba(0, 0, 255, 1);
}

.container {
  width:  920px;
  margin: auto;
}

.cards-title {
  margin-top:  50px;
  font-size: 32px;
}

.cards {
  display:  grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 100px;
  margin-top: 50px;
}

.city-card {
  width:  225px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(100, 100, 100, 0.5);
  border-radius:  4px;
}

.city-card img {
  width:  100%;
  border-radius:  4px;
}

.footer {
  background-color: rgba(30, 30, 30, 0.6);
  padding: 50px;
  color: white;
  font-size:  20px;
  text-align:  center;
}
